{% extends 'templates/base.html' %} {% block title %} {{ title }} {% endblock %}
{% block content %} {% import 'templates/table.html' as component %}
<div class="py-4 px-6 sm:ml-64">
  <h2 class="text-xl pb-2 px-1 font-semibold">Hasil Pembobotan Kata</h2>

  {{ component.table(df, df_columns, page, per_page, total_page, pages, url,
  rows) }}

  <button
    type="button"
    class="my-3 py-2.5 px-5 mr-2 mb-2 text-sm font-bold focus:outline-none bg-gray-200 rounded-full border border-gray-200 hover:bg-gray-400 text-black focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
  >
    <a href="training">Training Model</a>
  </button>
</div>
{% endblock%}
